
*{
    margin: 0;
    padding: 0;
}

body
{
    background-size:     100%;                      
    background-repeat:   no-repeat;
    background-position: center center; 
}

#stroomgame{
    margin-top: 40px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
}

h2{
    font-size: 18px;
    font-weight: 500;
    color: #000000;
}

#collage hr{
    border:none;
    border-top:2px solid #ffd500;
    height:1px;
}

#collage #playPanel {
    background-color:#6c6c6c;
    padding:10px 0px;
    margin: 100px auto;
    max-width:800px;
    width:95%;
    border-radius: 10px;
}


#collage #actualImageBox {
    display: inline-block;
    font-size:0.8em;
    margin: 10px 10px;
    vertical-align: top;
    width:280px;
}

#collage #stepBox, #collage #timeBox {
    display:inline-block;
    width:48%;
}

#collage #stepBox div {
    background-color:#6c6c6c;
    display:inline-block;
    padding:1px 4px;
    margin: 0px auto;
    max-width:800px;
}

#collage img#actualImage{
    border:2px solid #442c00;
    height:280px;
    width:280px;
}

#collage #sortable {
    border:2px solid #442c00;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    padding: 0;
    width: 400px;
}

    #collage #sortable li {
        background-size: 400% 400%;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 0;
        float: left;
        width: 100px;
        height: 100px;
    }

#collage button  {
    background-color:#f5f2f2;
    border:1px solid #cce;
    display: inline;
    font-size: 14px;
    height: auto;
    width: auto;
    margin-top: 10px;
    padding: 3px 8px;
}

p{
    font-weight: 500;
    font-size: 15px;
}